         <meta charset="utf-8" />
         <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

         <link rel="stylesheet" type="text/css"
           href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
           integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400i" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400i" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Yantramanav:100" rel="stylesheet">
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
           integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link rel="stylesheet" type="text/css"
           href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
         <link rel="stylesheet" type="text/css" href="stylesheets/Semantic-UI-Alert.css">


         <LINK REL="SHORTCUT ICON" HREF="https://image.ibb.co/fmud4w/download.jpg">

         <script src="https://code.jquery.com/jquery-3.2.1.min.js"
           integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
         <style>
           #firstcolumn {}

           #secondcolumn {

             width: 100%;
             padding-bottom: 23px;
             padding-top: 0;
             position: absolute;

           }

           #thirdcolumn {}

           #profilepic {
             height: 150px;
           }

           @media only screen and (min-width: 769px) {

             #menu2,
             .sidebar {
               display: none;
             }
           }

           @media only screen and (max-width: 768px) {

             #firstcolumn,
             #thirdcolumn {
               display: none !important;
             }
           }
         </style>
         <!--  ---------------------------------------------------------------------------------------------------- -->

         <body>

           <div class="ui left fixed inverted  vertical menu medium sidebar" style="background:black">
             <div class="item">
               <img class="ui  image" src="https://image.ibb.co/nswoFd/slideeeee.png" alt="slideeeee" border="0">
             </div>
             <a href="/my-home-page" class="item">Home</a>

             <div class="ui right pointing dropdown item">
               My Points
               <i class="dropdown icon"></i>
               <div class="menu">
                 <a href="/points/view" class="item">View</a>
                 <a href="/points/new" class="item">Submit</a>
               </div>
             </div>


             <div class="ui right pointing dropdown item">
               My Appeals
               <i class="dropdown icon"></i>
               <div class="menu">
                 <a href="/appeals" class="item">View</a>
                 <a href="/appeals/new" class="item">Submit</a>
               </div>
             </div>

             <div class="ui right pointing dropdown item">
               Events
               <i class=" dropdown icon"></i>
               <!-- <div class=" ui red left pointing label"><%= eventsLength %></div> -->

               <div class="menu">
                 <div class="item">

                   <a class="item"></a>View
                   <div class="menu">
                     <a href="/event" class="item">All</a>
                     <a href="/my-events" class="item">Mine</a>

                   </div>
                 </div>
                 <a href="/event/create" class="item">Create</a>
               </div>
             </div>

             <a href="/slide-google-drive" class="item">Google Drive</a>

             <div class="ui right pointing dropdown item">
               My Activities
               <i class="dropdown icon"></i>
               <div class="menu">
                 <a href="/lunch-buddy" class="item">Lunch Buddy</a>
                 <a class="item">Assassins</a>
                 <a href="/study-groups" class="item">Study Groups</a>
               </div>
             </div>

             <a href="/calendar" class="item">Calendar</a>

             <a href="/forms" class="item">Forms</a>

             <div class="ui right pointing dropdown item">
               Miscellaenous
               <i class="dropdown icon"></i>
               <div class="menu">


                 <a href="/contact-sheet" class="item">Contact Sheet</a>
                 <a class="item">Constitution</a>
               </div>
             </div>

             <a href="/guidelines" class="item">Guidelines</a>


             <a href="/faqs" class="item">FAQs</a>

             <a href="/logout" class="item">Logout<i class="red sign in alternate icon"></i></a>
           </div>





           <div class="ui centered grid" style="padding-top: 10px;">

             <div class=" three wide column" id="firstcolumn">
               <div class="ui left fixed inverted  vertical menu" style="background:black">
                 <div class="item">
                   <img class="ui  image" src="https://image.ibb.co/nswoFd/slideeeee.png" alt="slideeeee" border="0">
                 </div>
                 <a href="/my-home-page" class="item">Home</a>

                 <div class="ui left pointing dropdown item">
                   My Points
                   <i class="dropdown icon"></i>
                   <div class="menu">
                     <a href="/points/view" class="item">View</a>
                     <a href="/points/new" class="item">Submit</a>
                   </div>
                 </div>


                 <div class="ui left pointing dropdown item">
                   My Appeals
                   <i class="dropdown icon"></i>
                   <div class="menu">
                     <a href="/appeals" class="item">View</a>
                     <a href="/appeals/new" class="item">Submit</a>
                   </div>
                 </div>

                 <div class="ui left pointing dropdown item">
                   Events
                   <i class=" dropdown icon"></i>
                   <!-- <div class=" ui red left pointing label"><%= eventsLength %></div> -->
                   <div class="menu">
                     <div class="item">

                       <a class="item"></a>View
                       <div class="menu">
                         <a href="/event" class="item">All</a>
                         <a href="/my-events" class="item">Mine</a>

                       </div>
                     </div>
                     <a href="/event/create" class="item">Create</a>
                   </div>
                 </div>

                 <a href="/slide-google-drive" class="item">Google Drive</a>

                 <div class="ui left pointing dropdown item">
                   My Activities
                   <i class="dropdown icon"></i>
                   <div class="menu">
                     <a href="/lunch-buddy" class="item">Lunch Buddy</a>
                     <a class="item">Assassins</a>
                     <a href="/study-groups" class="item">Study Groups</a>
                   </div>
                 </div>
                 <a href="/calendar" class="item">Calendar</a>

                 <a href="/forms" class="item">Forms</a>

                 <div class="ui left pointing dropdown item">
                   Miscellaenous
                   <i class="dropdown icon"></i>
                   <div class="menu">


                     <a href="/contact-sheet" class="item">Contact Sheet</a>
                     <a class="item" id="constitution">Constitution</a>
                   </div>
                 </div>


                 <a href="/guidelines" class="item">Guidelines</a>

                 <a href="/faqs" class="item">FAQs</a>

                 <a href="/logout" class="item">Logout<i class="red sign in alternate icon"></i></a>
               </div>
             </div>





             <div class="ten wide column" id="secondcolumn" style="padding-left:0; padding-right: 0;">
               <div class="pusher" style="">

                 <div style="background: black; margin-bottom: 30px;width:100%">
                   <div class="ui big borderless five item menu" id="menu2" style="background:black;color:white">
                     <div class="ui container">
                       <a class="item" id="openMenu"><i id="sidebarIcon" style="padding:"
                           class="inverted sidebar big icon"></i></a>
                       <a class="item"></a>
                       <a class="item"><img class="ui small centered image"
                           src="https://image.ibb.co/nswoFd/slideeeee.png" alt="slideeeee" border="0"></a>
                       <a class="item"></a>
                       <a class="item"><img class="ui mini centered circular image"
                           src="http://www.attractivepartners.co.uk/wp-content/uploads/2017/06/profile.jpg"></a>
                     </div>
                   </div>
                 </div>


                 <div class="ui container">

                   <% if(success && check &&  success.length > 0){ %>
                   <div class="ui icon positive message">
                     <i class="checkmark icon"></i>
                     <i class="close icon"></i>
                     <div class="content">
                       <div class="header">
                         <%= success %>
                       </div>
                       <p><%=check%></p>
                     </div>
                   </div>
                   <% } %>

                   <% if(failure && failure.length > 0 && check){ %>
                   <div class="ui icon negative message">
                     <i class="frown icon"></i>
                     <i class="close icon"></i>
                     <div class="content">
                       <div class="header">
                         <%= failure %>
                       </div>
                       <p><%=check%></p>
                     </div>
                   </div>
                   <% } %>

                   <% if(success && success.length > 0 && !check){ %>
                   <div class="ui icon positive message">
                     <i class="checkmark icon"></i>
                     <i class="close icon"></i>
                     <div class="content">
                       <div class="header">
                         <%= success %>
                       </div>
                     </div>
                   </div>
                   <% } %>

                   <% if(failure && failure.length > 0 && !check){ %>
                   <div class="ui icon negative message">
                     <i class="frown icon"></i>
                     <i class="close icon"></i>
                     <div class="content">
                       <div class="header">
                         <%= failure %>
                       </div>
                     </div>
                   </div>
                   <% } %>

                   <div class="ui centere aligned basic  modal">
                     <object
                       data="http://stuactonline.tamu.edu/uploads/organization/1923_201707052211_constitution_1.pdf"
                       type="application/pdf" style="width:100%" height="80%">
                       <embed
                         src="http://stuactonline.tamu.edu/uploads/organization/1923_201707052211_constitution_1.pdf"
                         type="application/pdf" style="width:100%" height="80%" />
                     </object>

                     <% if (user.haveReadConstitution == false) {%>
                     <div class="ui center aligned grid" style="padding-top: 20px">
                       <div class="column">
                         <a href="/have-read-constitution" class="ui centered big green button">
                           I have read the constitution.
                         </a>
                       </div>
                     </div>
                     <%}%>
         
        </div>
       
        

     